---
layout: splash
author_profile: true
title: "Fieldwork Robotics Ltd"

header:
  image: fieldwork_robotics_poster.jpg

intro:
  - excerpt: ''

feature_row1:
  - image_path: coming_soon.jpg
    title: "Soft agricultural robots"
    excerpt: 'Coming soon.'

feature_row2:
  - image_path: gummiarm_ball.jpg
    title: "The GummiFactory"
    excerpt: 'The [GummiArm](http://mstoelen.github.io/GummiArm/) is a soft, open source, and bio-inspired robotic arm for research, education, and innovation. You can build your own GummiArm, or order it from us ready to be deployed to your laboratory, classroom or commercial application.'
    url: "https://gummifactory.github.io"
    btn_label: "Go to GummiFactory"
    btn_class: "btn--inverse"

---

{% include feature_row id="intro" type="center" %}

{% include base_path %}

{% include paginator.html %}
